html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/*normalize css */
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*Примеси*/
/*Готовые классы*/
body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #868686;
}
p {
  color: #868686;
  line-height: 1.5;
  font-size: 14px;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBlack';
  src: url('../fonts/Lato-Black.eot');
  src: local('☺'), url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slick theme */
.slick-loading .slick-list {
  background: #fff url(../img/ajax-loader.gif) center center no-repeat;
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 26px;
  width: 26px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background-color: #f4f4f4;
  z-index: 3;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: #000;
  margin-left: 9px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -35px;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "\f104";
}
.slick-prev:before[dir="rtl"] {
  content: "→";
}
.slick-next {
  right: -35px;
}
.slick-next[dir="rtl"] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "\f105";
}
.slick-next:before[dir="rtl"] {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: 20px;
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 5;
  left: 20px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 18px;
  width: 18px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #e644cb;
  border-radius: 50%;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 18px;
  height: 18px;
  font-size: 33px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #e644cb;
  opacity: 0.75;
}
.inner {
  width: 1100px;
  margin: 0 auto;
}
.header--second {
  background-color: #f7f7f7;
}
.top-header {
  overflow: hidden;
  border-bottom: 1px solid #d1d1d1;
  padding: 18px 0 17px 0;
}
.logo {
  float: left;
  overflow: hidden;
}
.logo__img {
  float: left;
  margin-right: 20px;
}
.logo-info {
  color: #474747;
  float: left;
  margin-top: 10px;
}
.logo-info__up {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.logo-info__bot {
  display: block;
}
.number {
  float: right;
  margin-left: 15px;
  color: #6e6e6e;
  font-size: 14px;
  margin-top: 10px;
}
.number span {
  font-size: 24px;
  color: #e644cb;
  font-weight: bold;
}
.social {
  float: right;
  margin-top: 10px;
}
.social li {
  float: left;
  margin-right: 10px;
}
.soc-item {
  background-color: #b7b7b7;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}
.soc-item:hover {
  background-color: #e644cb;
}
.bot-header {
  overflow: hidden;
}
.nav {
  overflow: hidden;
  float: left;
}
.nav li {
  float: left;
  margin-right: 32px;
}
.nav-item {
  display: block;
  height: 55px;
  line-height: 55px;
  color: #404040;
}
.nav-item--active {
  color: #e644cb;
}
.nav-item:hover {
  color: #e644cb;
}
.search {
  float: right;
  border: 1px solid #ccc;
  height: 30px;
  overflow: hidden;
  width: 240px;
  margin-top: 12px;
  border-radius: 33px;
  position: relative;
}
.search .ico {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #cccccc;
}
.search__input {
  float: right;
  border: none;
  background-color: #fff;
  width: 200px;
  height: 30px;
  outline: none;
}
.search__submit {
  float: left;
  height: 30px;
  width: 40px;
  font-size: 0;
  border: none;
  background-color: #fff;
}
.main-part {
  background-image: url(../img/main-bg.jpg);
  padding: 30px 0;
  overflow: hidden;
}
.slider {
  float: left;
  width: 67%;
  height: 362px;
  background-color: #fff;
  border-radius: 16px;
  background-image: url(../img/sl-bg.jpg);
  background-position: right;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.43);
}
.right-cont {
  float: right;
  width: 33%;
}
.right-cont .wr {
  margin-left: 25px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.43);
  padding: 26px;
}
.right-cont__type {
  color: #b1b1b1;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.right-cont__heading {
  color: #3e3e3e;
  display: block;
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "LatoBlack";
  font-weight: bold;
}
.right-cont__number {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  color: #6e6e6e;
}
.right-cont__number span {
  color: #3e3e3e;
}
.right-cont__number--bot {
  margin-bottom: 16px;
}
.right-cont p {
  margin-bottom: 6px;
  color: #6e6e6e;
  font-weight: bold;
}
.right-cont p.bot {
  font-size: 16px;
}
.right-cont p.bot--up {
  margin-top: 20px;
}
.slider-item {
  padding: 25px;
  position: relative;
  height: 312px;
  overflow: hidden;
  outline: none;
}
.slider-item__img {
  content: "";
  position: absolute;
  right: -80px;
  bottom: -30px;
  width: 450px;
  height: 397px;
  background-image: url(../img/sl-right.png);
  border-bottom-right-radius: 195px;
  overflow: hidden;
}
.slider-item__type {
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 55px;
  display: block;
}
.slider-item__heading {
  color: #3e3e3e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 5px;
  font-family: 'LatoBlack';
}
.slider-item__tenge {
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}
.slider-item__tenge span {
  color: #e644cb;
}
.btn {
  background-color: #e644cb;
  color: #fff;
  display: inline-block;
  border-radius: 20px;
  width: 200px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.slider-info {
  width: 400px;
}
.section {
  padding: 42px 0;
  overflow: hidden;
}
.section--grey {
  background-color: #f7f7f7;
}
.about {
  overflow: hidden;
}
.about__info {
  float: left;
  width: 550px;
}
.about__img {
  float: right;
  margin-top: 15px;
}
.about-info {
  padding: 35px 0;
}
.about-info__heading {
  color: #838383;
  font-family: 'LatoBlack';
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 15px;
}
.about-info__heading--second {
  color: #000;
  margin-bottom: 25px;
}
.about-info__name {
  color: #3e3e3e;
  display: block;
  font-weight: bold;
  font-family: 'LatoBlack';
  font-size: 26px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.about-info__type {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-family: 'LatoBlack';
  margin-bottom: 20px;
}
.vrach-ul {
  margin-bottom: 28px;
}
.vrach-ul li {
  margin-bottom: 10px;
}
.vrach-ul li span {
  color: #e644cb;
}
.uslugi {
  background-color: #ffeacc;
  background-image: url(../img/right-uslugi.jpg);
  background-position: left;
  background-repeat: no-repeat;
}
.about-bot .btn {
  margin-right: 20px;
}
.write {
  color: #e644cb;
  text-decoration: underline;
  font-size: 16px;
}
.write:hover {
  color: #838383;
}
.uslugi-part {
  overflow: hidden;
}
.uslugi-part__left {
  width: 36%;
  float: left;
}
.uslugi-part__right {
  float: right;
  width: 64%;
}
.uslugi-info {
  margin-right: 52px;
}
.uslugi-info p {
  margin-bottom: 10px;
  font-size: 16px;
}
.uslugi-info .btn {
  margin-top: 12px;
}
.modal {
  width: 400px;
  padding: 10px;
}
.modal__heading {
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.modal .btn {
  border: none;
  display: inline-block;
  width: 200px;
  margin: 10px 2px 0px 2px;
}
.modal-input {
  margin-bottom: 15px;
}
.modal-input__text {
  display: block;
  margin-bottom: 2px;
}
.modal-input input {
  width: 400px;
  border: 1px solid #ccc;
  height: 34px;
  box-sizing: border-box;
  text-indent: 10px;
}
.modal-input select {
  width: 400px;
  border: 1px solid #ccc;
  text-indent: 10px;
  height: 34px;
  color: rgba(119, 119, 119, 0.7);
}
.modal-input__textarea {
  width: 400px;
  border: 1px solid #ccc;
  height: 84px;
  box-sizing: border-box;
  text-indent: 10px;
}
.uslugi-ul {
  overflow: hidden;
  font-size: 0;
}
.uslugi-ul li {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.uslugi-ul li:nth-child(4n) .uslugi-item {
  border-right: 1px solid #ccc;
}
.uslugi-ul li:nth-last-child(2) .uslugi-item,
.uslugi-ul li:nth-last-child(1) .uslugi-item,
.uslugi-ul li:nth-last-child(3) .uslugi-item,
.uslugi-ul li:nth-last-child(4) .uslugi-item {
  border-bottom: 1px solid #ccc;
}
.uslugi-ul li:last-child .uslugi-item {
  border-right: 1px solid #ccc;
}
.uslugi-item {
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
  display: block;
  text-align: center;
  color: #676767;
  position: relative;
  overflow: hidden;
}
.uslugi-item img {
  display: block;
  width: 100%;
  opacity: 0;
}
.uslugi-item:hover img {
  opacity: 1;
}
.uslugi-item:hover span {
  opacity: 0;
}
.uslugi-item span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 0;
  right: 0;
  font-size: 16px;
  bottom: 0;
  text-align: center;
}
.gal-ul {
  border: 1px solid #d1d1d1;
  border-radius: 40px;
  padding: 4px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 30px;
}
.gal-ul li {
  float: left;
  margin-right: 2px;
}
.gal-ul li:last-child {
  margin-right: 0;
}
.gal-item {
  display: block;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: #979797;
  padding: 0 20px;
}
.gal-item:hover {
  background-color: #f3f3f3;
}
.gal-slider__item {
  margin-right: 20px;
}
.gal-slider__item img {
  display: block;
  width: 100%;
}
.ui-tabs-active .gal-item {
  background-color: #e644cb;
  color: #fff;
}
.ui-tabs-active .gal-item:hover {
  background-color: #e644cb;
}
.sertificate {
  overflow: hidden;
}
.sertificate__left {
  float: left;
  width: 50%;
}
.sertificate__left ul {
  margin-right: 25px;
}
.sertificate__right {
  float: left;
  width: 50%;
}
.sertificate__right ul {
  margin-left: 25px;
}
.sert-ul {
  overflow: hidden;
}
.sert-ul li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}
.sert-ul li:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #e644cb;
  border-radius: 50%;
}
.diplom-slider {
  margin-right: -20px;
}
.diplom-slider .slick-slide {
  margin-right: 20px;
}
.diplom-slider .slick-slide img {
  width: 100%;
}
.top-up {
  overflow: hidden;
  margin-bottom: 10px;
}
.top-up .about-info__heading {
  float: left;
  margin-right: 30px;
}
.top-up .write {
  margin-top: 7px;
  display: block;
}
.question-ul {
  margin-bottom: -20px;
}
.quest {
  margin-bottom: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.27);
  margin-left: 0px;
}
.quest__heading {
  background-color: #fff;
  display: block;
  padding: 16px 25px;
  position: relative;
}
.quest__heading span {
  position: absolute;
  right: 20px;
  top: 12px;
  border: 1px solid #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
}
.quest__info {
  background-color: #f3f3f3;
  max-height: 0px;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
}
.quest:hover .quest__heading {
  color: #e644cb;
  cursor: pointer;
}
.quest--active .quest__info {
  max-height: 400px;
  padding: 20px 25px;
}
.quest--active .quest__heading span:before {
  content: "\f106";
}
.otzyv-ul li {
  margin-bottom: 25px;
  background-color: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.21);
  position: relative;
  overflow: hidden;
}
.otzyv-ul li:after {
  content: "";
  position: absolute;
  right: 0px;
  top: -4px;
  background-repeat: no-repeat;
  width: 106px;
  height: 82px;
  background-image: url(../img/kovych.png);
}
.pagination {
  text-align: center;
}
.pagination li {
  display: inline-block;
  margin: 0 2px;
}
.pagination li a {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  color: #6a6a6a;
  border-radius: 50%;
}
.pagination li a:hover {
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
}
.pagination li.active a {
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
}
.otzyv-up {
  overflow: hidden;
  margin-bottom: 10px;
}
.ov {
  overflow: hidden;
}
.left-part {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.38);
  width: 300px;
  float: left;
  margin: 1px;
}
.left-part__heading {
  color: #3e3e3e;
  display: block;
  font-weight: bold;
  font-family: 'LatoBlack';
  font-size: 26px;
  margin-bottom: 14px;
  text-transform: uppercase;
  padding: 25px 25px 0 25px;
}
.left-nav li {
  border-bottom: 1px solid #f1f1f1;
}
.left-nav li:last-child {
  border-bottom: none;
}
.left-nav li a {
  display: block;
  color: #5b5b5b;
  padding: 12px 20px;
}
.left-nav li a:hover {
  background-color: #f3f3f3;
}
.left-nav li a.active {
  background-color: #e644cb;
  color: #fff;
}
.uslugi-right__type {
  margin-bottom: 5px;
  display: block;
}
.uslugi-right__img {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.right-part {
  background-color: #fff;
  padding: 25px;
  margin: 1px 1px 1px 330px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.38);
}
.right-part__heading {
  color: #3e3e3e;
  display: block;
  font-weight: bold;
  font-family: 'LatoBlack';
  font-size: 26px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.news-ul {
  margin-top: 25px;
}
.news-ul li {
  margin-bottom: 25px;
}
.news-mini {
  overflow: hidden;
}
.news-mini__img {
  float: left;
}
.news-mini__img img {
  display: block;
}
.news-info {
  margin-left: 210px;
}
.news-info__date {
  display: block;
  color: #6a6a6a;
  font-size: 16px;
  margin-bottom: 8px;
}
.news-info__heading {
  color: #4b4b4b;
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
}
.news-info__heading:hover {
  text-decoration: underline;
}
.cont-left {
  background-color: #fff;
  width: 350px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
  padding: 25px;
  margin: 2px;
  float: left;
}
.cont-left__heading {
  color: #3e3e3e;
  display: block;
  font-weight: bold;
  font-family: 'LatoBlack';
  font-size: 26px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.cont-left .social {
  float: none;
  margin-top: 15px;
  overflow: hidden;
}
.cont-right {
  margin-left: 430px;
  background-color: #fff;
  padding: 25px;
  margin: 2px 2px 2px 430px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
}
.cont-ul li {
  margin-bottom: 10px;
}
.footer {
  background-color: #ffeacc;
  padding: 35px 0;
  overflow: hidden;
  background-image: url(../img/footer.png);
}
.footer__left {
  float: left;
  width: 42%;
}
.footer__left .logo {
  float: none;
  display: block;
}
.footer__right {
  float: right;
  width: 58%;
}
.otzyv-up {
  overflow: hidden;
}
.otzyv-up__img {
  float: left;
}
.otzyv-up__text {
  color: #e644cb;
  font-size: 24px;
  float: left;
  margin-left: 30px;
  margin-top: 26px;
}
.gallery-right {
  margin-left: 335px;
  padding-top: 23px;
}
.gallery-ul {
  overflow: hidden;
  margin-right: -25px;
}
.gallery-ul li {
  float: left;
  width: 33.3%;
  margin-bottom: 20px;
}
.gallery-img {
  display: block;
  margin-right: 25px;
}
.gallery-img img {
  display: block;
  width: 100%;
}
.footer-bot {
  overflow: hidden;
  margin-left: 60px;
}
.footer-bot .number {
  float: left;
  margin-right: 30px;
}
.footer-nav {
  margin-left: 12%;
  margin-top: 8px;
}
.footer-nav li {
  float: left;
  width: 110px;
}
.footer-nav li:hover {
  text-decoration: underline;
}
.footer-item {
  color: #404040;
  font-size: 15px;
  margin-bottom: 20px;
  display: block;
}
.mob-menu {
  float: right;
  width: 32px;
  height: 32px;
  margin-top: 12px;
  background-image: url(../img/menu.svg);
  background-size: cover;
  display: none;
}
.mob-menu--active {
  background-image: url(../img/cancel.svg);
}
@media screen and (max-width: 1180px) {
  .inner {
    width: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
  .right-cont {
    display: none;
  }
  .slider {
    width: 100%;
    float: none;
  }
  .search {
    display: none;
  }
  .footer-bot .social {
    display: none;
  }
  .gal-slider {
    margin: 0 30px;
  }
}
@media screen and (max-width: 1024px) {
  .about__img {
    display: none;
  }
  .about__info {
    float: none;
    width: auto;
  }
  .uslugi-part__left {
    display: none;
  }
  .uslugi-part__right {
    float: none;
    width: 100%;
  }
  .footer__left {
    width: 100%;
    float: none;
  }
  .footer__right {
    display: none;
  }
  .footer .number {
    display: none;
  }
  .social {
    display: none;
  }
  .left-part {
    display: none;
  }
  .gallery-right {
    padding-top: 0;
    margin-left: 0;
  }
  .mob-menu {
    display: block;
  }
  .number {
    display: none;
  }
  .bot-header {
    position: absolute;
    right: 0;
    background-color: #fff;
    width: 200px;
    z-index: 20;
    max-height: 0;
  }
  .bot-header--active {
    max-height: 1000px;
  }
  .nav {
    padding-bottom: 25px;
  }
  .nav li {
    float: none;
    margin-right: 0;
    height: 30px;
    line-height: 30px;
  }
  .cont-left {
    float: none;
    width: auto;
    margin-bottom: 25px;
  }
  .cont-right {
    margin-left: 0;
  }
}
@media screen and (max-width: 750px) {
  .slider-item__img {
    display: none;
  }
  .uslugi-ul li {
    width: 33.3%;
  }
  .otzyv-ul li:after {
    display: none;
  }
  .uslugi-ul li:nth-child(3n) .uslugi-item {
    border-right: 1px solid #ccc;
  }
  .uslugi-ul li:nth-child(4n) .uslugi-item {
    border-right: none;
  }
  .slider-info {
    width: auto;
  }
}
@media screen and (max-width: 550px) {
  .inner {
    padding-right: 15px;
    padding-left: 15px;
  }
  .gal-ul {
    display: none;
  }
  .logo__img {
    margin-right: 12px;
  }
  .logo-info__up {
    margin-bottom: 3px;
  }
  .logo-info__up span {
    display: none;
  }
  .logo-info__down {
    font-size: 14px;
  }
}
